Repository Clean1ines/MRAK-OS-FACTORY: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-type-check, frontend-test-quick

.pre-commit-config.yaml:

# Pre-commit hooks for MRAK-OS FACTORY

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-json
        exclude: ^frontend/src/api/generated/

  # Backend: Python checks
  - repo: local
    hooks:
      - id: ensure-test-db
        name: Ensure test database is running
        entry: bash scripts/ensure_test_db.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: pytest-quick
        name: Run pytest (quick mode) with migrations
        # #CHANGED: added migrations before tests
        entry: bash -c 'bash scripts/ensure_test_db.sh && python migrations/run_all.py && python -m pytest -q --tb=no -x tests/ 2>/dev/null || echo "⚠️ pytest skipped or passed"'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        exclude: '^\.github/|^frontend/'

      - id: backend-type-check
        name: Type check backend (mypy - optional)
        entry: bash -c 'python -m mypy --ignore-missing-imports . 2>/dev/null || true'
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
        files: \.py$

  # Frontend: TypeScript + lint + tests
  - repo: local
    hooks:
      - id: frontend-type-check
        name: TypeScript type check
        entry: bash -c 'cd frontend && npm run type-check'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        files: ^frontend/

      - id: frontend-lint
        name: ESLint check (warnings allowed for now)
        entry: bash -c 'cd frontend && npm run lint -- --max-warnings=-1'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        files: ^frontend/

      - id: frontend-test-quick
        name: Run vitest (quick mode)
        entry: bash -c 'cd frontend && CI=true npm run test:run -- --reporter=dot --no-coverage --run'
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-commit]
        files: ^frontend/.*\.(test|spec)\.(ts|tsx)$

  # Pre-push only hooks (slower checks)
  - repo: local
    hooks:
      - id: docker-build-check
        name: Build Docker image (pre-push only)
        entry: bash verify_docker.sh
        language: system
        pass_filenames: false
        always_run: false
        stages: [pre-push]

  # E2E Tests — pre-push only (solo-dev optimized)
  - repo: local
    hooks:
      - id: e2e-tests-workspace
        name: Playwright E2E tests
        entry: bash scripts/e2e-run.sh
        language: system
        pass_filenames: false
        always_run: true
        verbose: true
        stages: [pre-push]
        files: ^frontend/|^tests/e2e/

fix: remove unused variables to fix production build
  frontend/src/components/ChatCanvas.tsx
  frontend/src/components/ChatInterface.tsx
  prompt_loader.py
Due: backend-type-check

refactor(workspace): extract project selection and workflows logic into custom hooks
  frontend/package.json
  frontend/src/components/ChatCanvas.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useSelectedProject.ts
  frontend/src/hooks/useWorkflows.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/sidebar-collapse.spec.ts
Due: none

feat: integrate React Query for server state management
  frontend/src/App.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useArtifactTypes.ts
  frontend/src/hooks/useArtifacts.ts
  frontend/src/hooks/useMessages.ts
  frontend/src/hooks/useModels.ts
  frontend/src/hooks/useModes.ts
  frontend/src/hooks/useProjectData.ts
  frontend/src/hooks/useProjects.ts
  frontend/src/hooks/useWorkflows.ts
  frontend/src/lib/queryClient.ts
Due: none

refactor: extract modal components for better reusability
  frontend/src/components/Notifications.tsx
  frontend/src/components/common/BaseModal.tsx
  frontend/src/components/common/DeleteConfirmModal.tsx
  frontend/src/components/ios/CreateWorkflowModal.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/components/projects/CreateProjectModal.tsx
  frontend/src/components/projects/EditProjectModal.tsx
  frontend/src/components/projects/ProjectsSidebar.tsx
  frontend/src/hooks/useWorkflows.ts
Due: none

fix: add DOMPurify for XSS protection and unify E2E selectors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatCanvas.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/components/projects/ProjectsSidebar.tsx
  frontend/src/constants/canvas.ts
  frontend/src/hooks/__tests__/useProjects.test.tsx
  frontend/src/hooks/__tests__/useWorkflows.test.tsx
  frontend/src/hooks/useWorkflowCanvas.ts
  frontend/src/hooks/useWorkflows.ts
  frontend/vitest.config.ts
  package-lock.json
  package.json
  prompts/05-implementation/10-code-generation-guardian-frontend-edition.txt
  prompts/06-validation/test-code-generator-frontend-edition.txt
  tests/e2e/auth.client.spec.ts
  tests/e2e/error-toast.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/sidebar-collapse.spec.ts
  tests/e2e/workspace.spec.ts
  verify_docker.sh
Due: frontend-test-quick

fix: add DOMPurify for XSS protection and unify E2E selectors
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatCanvas.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/components/projects/ProjectsSidebar.tsx
  frontend/src/constants/canvas.ts
  frontend/src/hooks/__tests__/useProjects.test.tsx
  frontend/src/hooks/__tests__/useWorkflows.test.tsx
  frontend/src/hooks/useWorkflowCanvas.ts
  frontend/src/hooks/useWorkflows.ts
  frontend/vitest.config.ts
  package-lock.json
  package.json
  prompts/05-implementation/10-code-generation-guardian-frontend-edition.txt
  prompts/06-validation/test-code-generator-frontend-edition.txt
  tests/e2e/auth.client.spec.ts
  tests/e2e/error-toast.spec.ts
  tests/e2e/navigation.spec.ts
  tests/e2e/sidebar-collapse.spec.ts
  tests/e2e/workspace.spec.ts
Due: frontend-test-quick

fix(canvas): ensure new nodes appear within visible viewport
  all_commits.txt
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/IOSNode.tsx
  frontend/src/hooks/useCanvasEngine.ts
  verify_docker.sh
Due: none

fix(canvas): ensure new nodes appear within visible viewport
  all_commits.txt
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/IOSNode.tsx
  frontend/src/hooks/useCanvasEngine.ts
Due: none

fix(workflows): implement graph persistence for workflow nodes and edges
  all_commits.txt
  db.py
  repositories/workflow_repository.py
  routers/workflows.py
  schemas.py
Due: backend-type-check

feat(workflows): add edit and delete buttons for workflows in sidebar
  .env.example
  frontend/src/components/ios/EditWorkflowModal.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useWorkflows.ts
  server.py
Due: backend-type-check

feat(workflows): link workflows to projects (project-scoped workflows)
  frontend/src/components/ios/EditNodeModal.tsx
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/IOSNode.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useCanvasEngine.ts
  frontend/src/hooks/useWorkflowCanvas.ts
  frontend/src/hooks/useWorkflows.ts
Due: none

fix(ui): improve node editing and modal consistency, resolve linter warnings
  .gitignore
  frontend/.env.production
  frontend/.gitignore
  frontend/src/components/ios/EditNodeModal.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/components/projects/CreateProjectModal.tsx
  frontend/src/components/projects/EditProjectModal.tsx
  frontend/src/hooks/useWorkflowCanvas.ts
  frontend/src/hooks/useWorkflows.ts
  migrations/add_project_id_to_workflows.py
  repositories/workflow_repository.py
  routers/workflows.py
  schemas.py
Due: backend-type-check

feat(nodes): add import from other workflows with preview and duplicate check
  frontend/src/components/common/BaseModal.tsx
  frontend/src/components/common/DeleteConfirmModal.tsx
  frontend/src/components/ios/EditNodeModal.tsx
  frontend/src/components/ios/NodeListPanel.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  routers/workflows.py
  tests/test_api_workflow.py
  tests/test_db_workflow.py
Due: backend-type-check

fix(canvas): add onCompleteConnection prop and fix edge creation flow
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/NodeListPanel.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useWorkflows.ts
Due: none

feat(edges): add edge deletion UI and improve connection management
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/IOSNode.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/useWorkflows.ts
Due: none

fix(edges): add missing onStartConnection prop to IOSCanvas to enable edge creation
  frontend/src/components/ios/IOSCanvas.tsx
  frontend/src/components/ios/WorkspacePage.tsx
  frontend/src/hooks/__tests__/useWorkflows.test.ts
  frontend/src/hooks/useWorkflows.ts
  tests/test_api_workflow.py
  tests/test_db_workflow.py
  tests/test_workflow_persistence.py
Due: backend-type-check, frontend-test-quick

test(frontend): finalize FSD migration and test fixes
  frontend/Project Structure Guide.md
  frontend/eslint.config.js
  frontend/src/app/test/setup.ts
  frontend/src/entities/project/api/__tests__/useProjects.test.tsx
  frontend/src/entities/workflow/api/__tests__/useWorkflows.test.ts
  frontend/src/entities/workflow/api/__tests__/useWorkflows.test.tsx
  frontend/src/features/node/edit-content/ui/EditNodeModal.tsx
  frontend/src/features/workflow/edit/ui/EditWorkflowModal.tsx
  frontend/src/shared/lib/__tests__/graphUtils.test.ts
  frontend/src/shared/lib/__tests__/logger.test.ts
  frontend/src/widgets/workflow-editor/lib/__tests__/useCanvasEngine.test.ts
  frontend/src/widgets/workflow-editor/ui/__tests__/IOSCanvas.test.tsx
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  prompts/ARCH mode.txt
Due: frontend-test-quick

refactor(workflow): split useWorkflows into data, UI and canvas layers
  frontend/openapi.json
  frontend/openapi.yaml
  frontend/package.json
  frontend/src/entities/workflow/api/useWorkflows.ts
  frontend/src/entities/workflow/api/useWorkflowsData.ts
  frontend/src/entities/workflow/api/workflowApi.ts
  frontend/src/features/workflow/model/useWorkflowUI.ts
  frontend/src/pages/workspace/WorkspacePage.tsx
  frontend/src/shared/api/client.ts
  frontend/src/shared/api/generated/schema.ts
  package-lock.json
  package.json
Due: none

refactor(sidebar): extract base Sidebar component and refactor ProjectsSidebar, WorkspaceSidebar
  frontend/src/pages/workspace/WorkspacePage.tsx
  frontend/src/pages/workspace/components/WorkspaceSidebar.tsx
  frontend/src/shared/ui/Sidebar/Sidebar.tsx
  frontend/src/widgets/sidebar/ui/ProjectsSidebar.tsx
Due: none

feat(workspace): extract node/edge operations into dedicated hooks and fix canvas freeze
  frontend/src/pages/workspace/WorkspacePage.tsx
  frontend/src/pages/workspace/components/WorkspaceSidebar.tsx
  frontend/src/pages/workspace/hooks/useEdgeOperations.ts
  frontend/src/pages/workspace/hooks/useNodeOperations.ts
Due: none

feat: implement ADR-001 — Run and NodeExecution with Pydantic V2
  .envrc
  artifact_service.py
  dependencies.py
  generators/__init__.py
  generators/base.py
  generators/business_requirements.py
  generators/functional_requirements.py
  generators/req_engineering.py
  migrations/run_all.py
  repositories/__init__.py
  repositories/node_execution_repository.py
  repositories/run_repository.py
  repositories/workflow_repository.py
  routers/artifacts.py
  routers/runs.py
  routers/workflows.py
  schemas.py
  server.py
  services/__init__.py
  tests/log.txt
  tests/test_api.py
  tests/test_artifact_service.py
  tests/test_use_cases/test_add_message.py
  tests/test_use_cases/test_generate_artifact.py
  tests/test_use_cases/test_start_clarification.py
  use_cases/execute_node.py
  use_cases/generate_artifact.py
  utils/__init__.py
Due: backend-type-check
